<nav class="navbar" role="navigation" aria-label="main navigation">
  <div class="navbar-brand">
    <p class="navbar-item">My brand!</p>
  </div>
  <div id="tympaniplayerNavBar" class="navbar-menu">
    <div class="navbar-start">
      <NavLink class="navbar-item" href="/" Match="NavLinkMatch.All">
        Home
      </NavLink>
    </div>
  </div>
</nav>
